

body{
    margin: 12px 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}


.cards {
	
    position:absolute;
    top:30px;
    right:95%; 
    margin-right:150px;

}

.inputmotus {
	
    position:absolute;
    top:30px;
    right:50%; 
    

}

/*
.penduimg{

    position:absolute;
    top:450px;
    right:10%; 
    margin-right:200px; 

}
*/


.rankings{

    position:absolute;
    top:450px;
    right:-5%; 
    margin-right:200px; 

}

#nav,#nav ul {
 list-style: none outside none;
 margin: 15px;
 padding: 15px;
}
#nav {
 background-color: #000;
 clear: both;
 font-size: 15px;

 height: 58px;
 padding: 0 0 0 9px;
 position: relative;
 width: 957px;
}
#nav ul {
 background-color: #222;
 border:1px solid #222;
 border-radius: 0 5px 5px 5px;
 border-width: 0 1px 1px;
 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
 left: -9999px;
 overflow: hidden;
 position: absolute;
 top: -9999px;
 z-index: 2;
 
 -moz-transform: scaleY(0);
 -ms-transform: scaleY(0);
 -o-transform: scaleY(0);
 -webkit-transform: scaleY(0);
 transform: scaleY(0);
 
 -moz-transform-origin: 0 0;
 -ms-transform-origin: 0 0;
 -o-transform-origin: 0 0;
 -webkit-transform-origin: 0 0;
 transform-origin: 0 0;
 
 -moz-transition: -moz-transform 0.1s linear;
 -ms-transition: -ms-transform 0.1s linear;
 -o-transition: -o-transform 0.1s linear;
 -webkit-transition: -webkit-transform 0.1s linear;
 transition: transform 0.1s linear;
}
#nav li {
 background: url('menu_line.png') no-repeat scroll right 5px transparent;
 float: left;
 position: relative;
}
#nav li a {
 color: #FFFFFF;
 display: block;
 float: left;
 font-weight: normal;
 height: 30px;
 padding: 23px 20px 0;
 position: relative;
 text-decoration: none;
 text-shadow: 1px 1px 1px #000000;
}
#nav li:hover > a {
 color: #00B4FF;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
 background: none repeat scroll 0 0 #121212;
 outline: 0 none;
}
#nav li:hover ul.subs {
 left: 0;
 top: 53px;
 width: 180px;
 
 -moz-transform: scaleY(1);
 -ms-transform: scaleY(1);
 -o-transform: scaleY(1);
 -webkit-transform: scaleY(1);
 transform: scaleY(1);
}
#nav ul li {
 background: none;
 width: 100%;
}
#nav ul li a {
 float: none;
}
#nav ul li:hover > a {
 background-color: #121212;
 color: #00B4FF;
}
#lavalamp {
 
 height: 16px;
 left: 13px;
 position: absolute;
 top: 0px;
 width: 64px;
 
 -moz-transition: all 300ms ease;
 -ms-transition: all 300ms ease;
 -o-transition: all 300ms ease;
 -webkit-transition: all 300ms ease;
 transition: all 300ms ease;
}
#lavalamp:hover {
 -moz-transition-duration: 3000s;
 -ms-transition-duration: 3000s;
 -o-transition-duration: 3000s;
 -webkit-transition-duration: 3000s;
 transition-duration: 3000s;
}
#nav li:nth-child(1):hover ~ #lavalamp {
 left: 13px;
}
#nav li:nth-child(2):hover ~ #lavalamp {
 left: 90px;
}
#nav li:nth-child(3):hover ~ #lavalamp {
 left: 170px;
}
#nav li:nth-child(4):hover ~ #lavalamp {
 left: 250px;
}
#nav li:nth-child(5):hover ~ #lavalamp {
 left: 330px;
}
#nav li:nth-child(6):hover ~ #lavalamp {
 left: 410px;
}
#nav li:nth-child(7):hover ~ #lavalamp {
 left: 490px;
}
#nav li:nth-child(8):hover ~ #lavalamp {
 left: 565px;
}


#clavier{
	border:4px outset black;
	padding:10px;
	background-color:black;
	top: 500px;
}

#clavier td {
	padding: 2px;
	background-color:white(248, 244, 6);
	border:2px solid rgb(190, 14, 14);
	width:40px;
	height:40px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

.inputdiv {
    position: absolute;
    top: 300px;
    left: 810px;
}

.page {
    background-color: #000;
}
.CursorLayer {
    position: absolute;
    top:200px;
    left:260px;
}
.card {
    position: absolute;
    top: 300px;
    left: 350px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 234px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    
}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
    
}
.card .back {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
    background: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 1s;
   
}
.card .back .details {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card .back .details h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
	/*
	border: solid 2px;
	border-color: red;**/
}
.card .back .details h2 span {
    
    font-size: 16px;
    color: #a7a7a7;
}

.card:hover .front {
    transform: rotateX(-180deg);
}
.card:hover .back {
    transform: rotateX(0deg);
}
/* card1*/
.card1 {
    position: absolute;
    top: 300px;
    left: 580px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 234px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card1 .front1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card1 .back1 {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
    background: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.card1 .back1 .details {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card1 .back1 .details h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.card1 .back1 .details h2 span {
    
    font-size: 16px;
    color: #a7a7a7;
}

.card1:hover .front1 {
    transform: rotateX(-180deg);
}
.card1:hover .back1 {
    transform: rotateX(0deg);
}
/* card2*/
.card2 {
    position: absolute;
    top: 300px;
    left: 810px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 234px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card2 .front2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card2 .back2 {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
    background: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.card2 .back2 .details {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card2 .back2 .details h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.card2 .back2 .details h2 span {
    
    font-size: 16px;
    color: #a7a7a7;
}

.card2:hover .front2 {
    transform: rotateX(-180deg);
}
.card2:hover .back2 {
    transform: rotateX(0deg);
}

/* card3*/
.card3 {
    position: absolute;
    top: 300px;
    left: 1040px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 234px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card3 .front3 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card3 .back3 {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
    background: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.card3 .back3 .details {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card3 .back3 .details h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.card3 .back3 .details h2 span {
    
    font-size: 16px;
    color: #a7a7a7;
}

.card3:hover .front3 {
    transform: rotateX(-180deg);
}
.card3:hover .back3 {
    transform: rotateX(0deg);
}

/* card4*/
.card4 {
    position: absolute;
    top: 300px;
    left: 1270px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 234px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card4 .front4 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card4 .back4 {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
    background: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    
    
}
.card4 .back4 .details {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    
}
.card4 .back4 .details h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
    
    
}
.card4 .back4 .details h2 span {
    
    font-size: 16px;
    color: #a7a7a7;
   
}

.card4:hover .front4 {
    transform: rotateX(-180deg);
}
.card4:hover .back4 {
    transform: rotateX(0deg);
}

  .container{
    text-align: center;
    margin-top: 50px;
  }
  .btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
 .btn0,.btn1,.btn2,.btn3,.btn4 {
    color: #3498db;
  }
  
  .btn0:hover,.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
    color: #fff;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
  }
  .btn0::before,.btn1::before,.btn3::before,.btn2::before,.btn4::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
 
  
  .btn0:hover::before,.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before{
    height: 180%;
  }
  
  #inputdiv {
    position:fixed;
    top: 50%;
    left: 40%;
    
 }
 #input {
    position:fixed;
    top: 50%;
    left: 40%;
    
 }

